html, body {
    height: 100%;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

footer {
    flex: 0 0 auto;
}

.shadow {
    -moz-box-shadow: 0px 0px 5px 2px #656565;
    -webkit-box-shadow: 0px 0px 5px 2px #656565;
    -o-box-shadow: 0px 0px 5px 2px #656565;
    box-shadow: 0px 0px 5px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);

}