.roboto {
    font-family: "Roboto", serif;
    font-weight: 400;
}
b, .bold    { font-weight: 900; }

.container  { padding: 36px; }

.center     { text-align: center; }
.right      { text-align: right; }
.left       { text-align: left; }

.f-center { justify-content: center }
.f-right { justify-content: flex-end }
.f-left { justify-content: flex-start }

.m-sidenav {
    background-color: #fff;
    position: fixed;
    z-index: 1002;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    opacity: 1;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.t-sidenav {
    background-color: #fff;
    position: fixed;
    z-index: 1002;
    height: calc(100% - 56px+24px);
    width: 30%;
    top: 56px;
    right: 0;
    bottom: 24px;
    opacity: 1;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.sidenav-title {
    padding: 8px 25% 0 25%;
}