<div class="center">
    <h1>Homey Page</h1>
    <div>
        <p class="m+">
            This page demonstrates 
            <a class="tc-red-500" href="https://ui.lumapps.com/">Lumx</a>.
            A front-end framework based on Google Material Design
            LumX will help you to design beautiful applications,
            faster and easier. We’ve built it based on Google 
            guidelines, respecting metrics in a pixel perfect way..
        </p>
    </div>
</div>
