<div class="center">
    <h1>Playground</h1>
    <div>
        <p class="m+">This page demonstrates <span class="tc-red-500">nested</span> views.</p>
        <lx-button ui-sref=".paragraph" class="bgc-red-500">
            Paragraph
        </lx-button>
        <div class="row"><br><div ui-view></div><br></div>
    </div>
</div>