<a href="https://bitbucket.org/3pwood" ng-include="'assets/gitCorner.svg'" class="github-corner header-img tc-indigo-500"></a>

<div class="toolbar bgc-indigo-500">
    <div class="toolbar__left mr++">
        <a ui-sref="home">
            <img src="assets/angular.png" class="img-responsive header-img">
        </a>
    </div>

    <span class="toolbar__label fs-title tc-white">Lorem Ipsum</span>

    <div class="toolbar__right mr+++">
        <!-- MEDIA DESKTOP -->
        <div ng-if="media.isDesktop" class="mr+++">
            <lx-button ui-sref="home" lx-type="flat" class="tc-white bold"> Home </lx-button>
            <lx-dropdown lx-position="right">
                <lx-dropdown-toggle>
                    <lx-button lx-type="flat" class="tc-white bold">
                        <span> Other </span>
                        <i class="mdi" ng-class="lxDropdownMenu.parentCtrl.isOpen ? 'mdi-chevron-down' : 'mdi-chevron-down'"></i>
                    </lx-button>
                </lx-dropdown-toggle>

                <lx-dropdown-menu class="center">
                    <ul>
                        <li>
                            <a ui-sref="playground" class="dropdown-link"> Playground </a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
        <!-- MEDIA TABLET -->
        <lx-dropdown ng-if="media.isTablet" lx-position="right">
            <lx-dropdown-toggle>
                <lx-button lx-type="flat" class="tc-white bold">
                    <i class="mdi mdi-menu"></i>
                    <span> Menu </span>
                </lx-button>
            </lx-dropdown-toggle>

            <lx-dropdown-menu class="center">
                <div class="t-sidenav">
                    <ul>
                        <li>
                            <a ui-sref="home" class="dropdown-link f-center"> Home </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a ui-sref="playground" class="dropdown-link f-center"> Playground </a>
                        </li>
                        <li class="dropdown-divider"></li>
                    </ul>
                </div>
            </lx-dropdown-menu>
        </lx-dropdown>
        <!-- MEDIA PHONE -->
        <lx-dropdown ng-if="media.isPhone" lx-position="right">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="white" lx-type="icon">
                    <i class="mdi mdi-apps"></i>
                </lx-button>
            </lx-dropdown-toggle>
            <lx-dropdown-menu>
                <div class="m-sidenav">
                    <ul>
                        <li>
                            <img src="assets/lumx.png" class="sidenav-title">
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a ui-sref="home" class="dropdown-link f-center"> Home </a>
                        </li>
                        <li>
                            <a ui-sref="playground" class="dropdown-link f-center"> Playground </a>
                        </li>
                    </ul>
                </div>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>